## 读取数据

In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv("test.csv")

In [3]:
original_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622
1,FDW14,8.300,reg,0.038428,Dairy,87.3198
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300

## 评估数据

### 评估数据整齐度

In [4]:
original_data.sample(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP
72,FDZ14,7.710,Regular,0.047783,Dairy,122.3756
29,FDE21,12.800,LF,0.022940,Fruits and Vegetables,116.5492
51,FDM03,12.650,Low Fat,0.122928,Meat,106.6938
77,FDB53,13.350,Low Fat,0.139452,Frozen Foods,148.6392
19,FDA46,13.600,Low Fat,0.196898,Snack Foods,193.7136
44,FDP23,6.710,Low Fat,0.059565,Breads,217.2166
53,FDJ20,20.700,Regular,0.100742,Fruits and Vegetables,122.3388
60,FDW12,8.315,Regular,0.035565,Baking Goods,144.8444
31,FDX51,9.500,Regular,0.022149,Meat,194.9452
50,DRH11,5.980,Low Fat,0.075558,Hard Drinks,57.0614

#### 无结构性问题

## 数据干净程度

In [5]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_Identifier   80 non-null     object
 1   Item_Weight       63 non-null     float64
 2   Item_Fat_Content  80 non-null     object
 3   Item_Visibility   80 non-null     float64
 4   Item_Type         80 non-null     object
 5   Item_MRP          80 non-null     float64
dtypes: float64(3), object(3)
memory usage: 3.9+ KB

#### 评估缺失数据

In [6]:
original_data[original_data["Item_Weight"].isnull()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300
7,FDC48,NaN,Low Fat,0.015782,Baking Goods,81.0592
12,NCC54,NaN,Low Fat,0.171079,Health and Hygiene,240.4196
18,NCM42,NaN,Low Fat,0.028184,Household,109.6912
23,NCL19,NaN,Low Fat,0.027447,Others,142.3470
30,NCR42,NaN,Low Fat,0.067377,Household,32.0900
33,FDU31,NaN,Regular,0.024870,Fruits and Vegetables,217.7508
35,FDR03,NaN,Regular,0.008694,Meat,205.0980
36,FDS49,NaN,Low Fat,0.078961,Canned,80.3644
39,NCD43,NaN,Low Fat,0.015942,Household,103.3964
54,FDV44,NaN,Regular,0.039651,Fruits and Vegetables,188.7188
58,FDL58,NaN,Regular,0.129825,Snack Foods,263.2568
62,NCY42,NaN,Low Fat,0.015089,Household,141.3470
65,FDB35,NaN,Regular,0.064306,Starchy Foods,90.3804
71,FDC37,NaN,Low Fat,0.032714,Baking Goods,108.1938
76,FDV21,NaN,Low Fat,0.299544,Snack Foods,124.8704
78,DRP47,NaN,Low Fat,0.246178,Hard Drinks,252.4382

#### 评估重复数据

In [7]:
original_data[original_data.duplicated(subset=["Item_Identifier"])]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP
43,NCL19,15.35,Low Fat,0.01574,Others,144.847

#### 评估不一致数据

In [8]:
original_data["Item_Type"].value_counts()

Item_Type
Household                14
Fruits and Vegetables    11
Snack Foods              10
Dairy                     8
Baking Goods              7
Frozen Foods              5
Others                    4
Breads                    3
Hard Drinks               3
Soft Drinks               3
Meat                      3
Canned                    3
Starchy Foods             3
Health and Hygiene        2
Seafood                   1
Name: count, dtype: int64

#### 评估无效和错误数据

In [9]:
original_data.describe()

       Item_Weight  Item_Visibility    Item_MRP
count    63.000000        80.000000   80.000000
mean     12.739921         0.073182  151.243310
std       4.999262         0.060483   61.690894
min       4.785000         0.000000   32.090000
25%       7.832500         0.029837  108.110900
50%      13.000000         0.061691  150.137900
75%      17.000000         0.097592  192.592500
max      21.350000         0.299544  263.256800

In [10]:
original_data["Item_MRP"].sort_values()

30     32.0900
57     38.3822
32     42.4112
26     47.6034
22     47.7402
        ...
48    248.1460
78    252.4382
74    256.2646
67    262.5594
58    263.2568
Name: Item_MRP, Length: 80, dtype: float64

## 清理数据

### 下面写通过上面数据评估，应该对数据进行清理的具体步骤

#### copy方法复制给新变量

In [11]:
cleaned_data=original_data.copy()

##### 有些数据集中，时间数据的类型是str，应该将其转换为datatime，下面举个例子

In [12]:
cleaned_data["Item_Weight"] = pd.to_datetime(cleaned_data["Item_Weight"])
cleaned_data["Item_Weight"]

0    1970-01-01 00:00:00.000000020
1    1970-01-01 00:00:00.000000008
2    1970-01-01 00:00:00.000000014
3    1970-01-01 00:00:00.000000007
4                              NaT
                  ...
75   1970-01-01 00:00:00.000000013
76                             NaT
77   1970-01-01 00:00:00.000000013
78                             NaT
79   1970-01-01 00:00:00.000000016
Name: Item_Weight, Length: 80, dtype: datetime64[ns]

##### 对于ID这种如果是浮点数需要转换成str，直接用astype（）方法

In [13]:
cleaned_data["Item_MRP"] = cleaned_data["Item_MRP"].astype(str)
cleaned_data["Item_MRP"]

0     107.8622
1      87.3198
2     241.7538
3      155.034
4       234.23
        ...
75    173.7054
76    124.8704
77    148.6392
78    252.4382
79     145.176
Name: Item_MRP, Length: 80, dtype: object

##### series的str有一个slice方法，可以保留指定字符串范围

In [14]:
cleaned_data["Item_MRP"].str.slice(0,3)

0     107
1     87.
2     241
3     155
4     234
     ...
75    173
76    124
77    148
78    252
79    145
Name: Item_MRP, Length: 80, dtype: object

#### 删除空缺数据

In [20]:
cleaned_data = cleaned_data.dropna(subset=["Item_Weight"])
cleaned_data["Item_Weight"].isnull().sum()

0

#### 处理不一致数据：不同单词指代同一事物的现象
##### 用replace的方法  本数据集无不一致数据 将 Canned 换为Meat

In [27]:
cleaned_data["Item_Type"] = cleaned_data["Item_Type"].replace({"Canned" : "Meat"})
cleaned_data["Item_Type"].value_counts()

Item_Type
Household                10
Fruits and Vegetables     9
Snack Foods               8
Dairy                     7
Baking Goods              5
Frozen Foods              5
Meat                      4
Others                    3
Breads                    3
Soft Drinks               3
Hard Drinks               2
Starchy Foods             2
Seafood                   1
Health and Hygiene        1
Name: count, dtype: int64

In [29]:
len(cleaned_data[cleaned_data["Item_Type"] == "Canned"])

0

#### 删除错误数据：比如身高为－的，这类就用筛选条件筛选出来赋值给原来的dataframe，变相删除
##### eg. claned_data = cleaned_data[cleaned_data["身高"] >= 0]

#### 删除重复数据
##### eg.  cleaned_data.drop_duplicates(subset = ["列名"])

## 保存清理后的数据
#### cleaned_data.to_csv("新文件名.csv" , index = False)
#### 本数据集中索引无实际意义，所以index=False，保存后，在同一文件夹下会创建一个新的csv文件